.dl-sb, h2{
    //styleName: Typography/Display/large/SemiBold;
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 6.6rem;
    letter-spacing: .1rem;
}

.dl-b, h1{
    //styleName: Typography/Display/large/Bold;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 6.6rem;
    letter-spacing: .1rem
}

.dm, h4{
   //styleName: Typography/Display/medium;
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 5rem;
    letter-spacing: .1rem
}

.dm-b, h3{
    //styleName: Typography/Display/medium/Bold;
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 5rem;
    letter-spacing: .1rem
}

.ds, h6{
    //styleName: Typography/Display/small;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 3.4rem;
    letter-spacing: .1rem;
}

.ds-m, h5{
    //styleName: Typography/Display/small/Bold;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 3.4rem;
    letter-spacing: .1rem;
}

.tl{
    //styleName: Typography/Text/Large;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 3.8rem;
    letter-spacing: .3rem;
}

.tm{
    //styleName: Typography/Text/Medium;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.4rem;
    letter-spacing: .03rem;
}

.tb{
    //styleName: Typography/Text/Bold;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 3.2rem;
    letter-spacing: .3rem;
}

.tr, p{
    //styleName: Typography/Text/Regular;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.4rem;
    letter-spacing: .1rem;
}

.ts{
    //styleName: Typography/Text/Small;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: .1rem;
}

@mixin typo-ts {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: .1rem;
}

.tb{
    //styleName: Typography/Text/Button;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: .2rem;
}

.ll{
    //styleName: Typography/Link/large;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.8rem;
    letter-spacing: 0.3rem;
}

.lm{
    //styleName: Typography/Link/Medium;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.4rem;
    letter-spacing: 0.2rem;
}

.ls{
    //styleName: Typography/Text/Regular;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.8rem;
    letter-spacing: 0.2rem;
}
@mixin typo-ls {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.8rem;
    letter-spacing: 0.2rem;
}
.lx-s{
    //styleName: Typography/Link/X-small;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: 0.2rem;
}

@media (max-width:425px) {

    .dl-sb, h2,  .dl-b, h1{
        //styleName: Typography/Display/large/SemiBold;
        font-size: 4.8rem !important;
        line-height: 4.8rem !important;
    }
    

    .dm, h4, .dm-b, h3{
        //styleName: Typography/Display/medium;
         font-size: 3.2rem;
     }
     
     .ds, h6, .ds-m, h5{
        //styleName: Typography/Display/small;
        font-size: 2.4rem;
    }

    .tl{
        //styleName: Typography/Text/Large;
        font-size: 2rem;
    }

    .tm{
        //styleName: Typography/Text/Large;
        font-size: 1.6rem;
    }

    .ll{
        //styleName: Typography/Text/Large;
        font-size: 2rem;
    }
    .lm{
        //styleName: Typography/Text/Large;
        font-size: 1.6rem;
    }
    
}
